@page "/regex"
@using System.Text.RegularExpressions;

<PageTitle>Regex</PageTitle>
<h3>Regex (Regular Expressions)</h3>
<hr/>

<div>
    <div class="form-group">
        <label class="fw-bold">Pattern</label>
        <InputTextArea @bind-Value="_pattern" class="form-control" placeholder="Pattern"></InputTextArea>
    </div>
    <div class="form-group">
        <label class="fw-bold">Text</label>
        <InputTextArea @bind-Value="_inputText" class="form-control" rows="10" placeholder="Text"></InputTextArea>
    </div>
    <button @onclick="FindMatches" class="btn btn-primary my-1">Find Matches</button>

    <div>
        <label class="fw-bold">Results</label>
        @if (_matchCollection != null)
        {
            <table class="table table-hover table-sm">
                <caption>@_matchCollection.Count matches for pattern "@_pattern"</caption>
                <thead>
                    <tr>
                        <th scope="col">Index</th>
                        <th scope="col">Value</th>
                        <th scope="col">Length</th>
                        <th scope="col">Groups</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Match match in _matchCollection)
                    {
                        <tr>
                            <td>@match.Index</td>
                            <td>@match.Value</td>
                            <td>@match.Length</td>
                            <td>@(String.Join("; ", match.Groups.Cast<Group>().Skip(1).Where(x => x.Success).Select(x => x.Name)))</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@code {
    private const string _loremIpsum = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.";

    private string _pattern = @"(?<prim>\w*cus\w*)|(?<sec>\w*ore\w*)";
    private string _inputText = _loremIpsum;
    private string _outputMatches = String.Empty;
    private MatchCollection? _matchCollection;

    private void FindMatches()
    {
        var regex = new System.Text.RegularExpressions.Regex(this._pattern);
        this._matchCollection = regex.Matches(this._inputText);
    }

}
